# requirements.txt

# External Packages (required for installation via pip)
numpy>=1.22.3       # Used for numerical operations, specify minimum version for compatibility
scipy>=1.8.0        # Utilized for scientific computing, specify minimum version for compatibility
matplotlib>=3.5.1   # Required for plotting and visualization, specify minimum version for compatibility

# Note: The following are Standard Python Library Packages. They are part of the Python distribution and do not require installation via pip.
# - functools
# - re
# - sys
# - importlib
# - random
# - timeit

# Local Modules: These are specific to this project and are not installable via pip.
# - spinSimulations.cython_extensions

